*{
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
}
.univ {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	position: absolute;
	height: auto;
}

.top {
	width: 100%;
	background: #293B52;
	height: 60px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.topcont {
	width: 95%;
	height: 70%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sub {
	position: relative;
	height: 26px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	color: #FFFFFF;
}
.but {
	position: relative;
	height: 19px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}
.post {
	width: 100%;
	position: relative;
	height: 108px;
	display: flex;
	justify-content: center;
	background: #F8D16C;
	align-items: center;
}
.postcont {
	width: 95%;
	height: 70%;
	display: flex;
	align-items: center;
}
.postby, .poston {
	position: relative;
	height: 22px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #293B52;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bodyc {width:100%;height: auto;}
.bodyt {
	position: relative;
	padding-top: 36px;
	padding-bottom: 48px;
	width: 95%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: auto;
}
.bcontent {
	width: 80%;
	position: relative;
	height: auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.bottom {
	position: relative;
	width: 100%;
	height: 156px;
	display: flex;
	align-items: center;
	background: #293B52;
	justify-content: center;
}
.botcont {
	position: relative;
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.botcont2 {
	position: relative;
	width: 30%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 1.125em;
	line-height: 21px;
	color: #FFFFFF;
}
.email, .phone, .follow {
	margin-top: 10px;
	margin-bottom: 10px;
}
.logo {
	position: relative;
	width: 10%;
	height: 10%;
}
.logo img {
	width: 100px;
	height: 100px;
}
